build/
roms/
rust/target/
.cache/
*.gb
*.gbc
*.sav
!test_roms/**/*.gb
!test_roms/**/*.gbc
compile_commands.json
.venv/
**/__pycache__/
.zed/
*.log
include/rust.h
src/boot_roms.c
imgui.ini
pandocs/
