[submodule "test_roms/blargg"]
	path = test_roms/blargg
	url = https://github.com/retrio/gb-test-roms.git
[submodule "pandocs"]
	path = pandocs
	url = https://github.com/gbdev/pandocs.git
[submodule "mooneye"]
	path = mooneye
	url = https://github.com/Gekkio/mooneye-test-suite.git
[submodule "age"]
	path = age
	url = https://github.com/c-sp/age-test-roms.git
[submodule "gbmicrotest"]
	path = gbmicrotest
	url = https://github.com/aappleby/gbmicrotest.git
